@import '../../../styles/utils.scss';

.post-body {
    .paper {
        padding: 2rem;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
        background: $oc-white;
        @include material-shadow(4, 0.5);
        transform: translateY(-3rem);
        margin: 0 auto;
        min-height: 20rem;
        .menu1 {
            right: 25px;
            top: 35px;
            position: fixed;
            margin-top: 20px;
            cursor: pointer;
            margin-top: 0.8rem;
            background-image:url('https://www.instagram.com/static/bundles/metro/sprite_glyphs_50d91e465dcb.png/50d91e465dcb.png'); 
            background-position: 135px 529px;
            width: 25px;
            height:26px;
        }
        .delete {
            cursor: pointer;
            border-bottom: 1px solid #d5d5d5;
            padding-bottom: 5px;
            color: $oc-red-6;
        }
        .update {
            cursor: pointer;
            padding-top: 5px;
            color: $oc-blue-6;
        }
        .menu {
            position: fixed;
            right: 15px;
            border: 1px solid #d5d5d5;
            width: 100px;
            text-align: center;
            border-radius: 3px;
            padding-top: 5px;
            padding-bottom: 5px;
            top: 5rem;
        }
        width: 1024px;
        @include media("<large") { width: 768px; }
        @include media("<medium") { width: calc(100% - 2rem)}
    }
}